.container {
    display: grid;
    grid-gap: 5px;    
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 350px 50px;
    grid-template-areas:
        ". h h h h h h h h h h ."
        "m m c c c c c c c c c c"
        ". f f f f f f f f f f .";
}

.header {
    background-color: red;
    grid-area: h;

}
.menu {
    background-color: yellow;
    grid-area: m;
}
.container {
    background-color: green;
    grid-area: c;
}
.footer {
    background-color: hotpink;
    grid-area: f;
}

@media screen and (max-width: 640px) {
    .container {
        grid-template-areas:
            "m m m m m m h h h h h h"
            "c c c c c c c c c c c c"
            "f f f f f f f f f f f f";
    }
}